!!!
html
  head
    meta(property="fb:app_id", content="516801898340306")
    meta(property="og:type", content="book")
    meta(property="og:title", content=book.title)
    meta(property="og:url", content="http://www.lendabook.org/og/books/"+book._id)
    meta(property="og:image", content=book.image)
    meta(property="og:description", content=book.description)
    meta(property="og:author", content=book.author)
    meta(property="og:isbn", content=book.isbn)
  body