!!!
html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile#")
    meta(property="fb:app_id", content="516801898340306")
    meta(property="profile:first_name", content=book.author)
    //meta(property="profile:last_name", content=book.author)
    //meta(property="profile:username", content=book.author)
    //meta(property="profile:gender", content=book.author)
    meta(property="og:type", content="profile")
    meta(property="og:title", content=book.author)
    meta(property="og:url", content="http://www.lendabook.org/og/books/"+book._id+"/author")
    //meta(property="og:image", content=book.image)
    //meta(property="og:description", content=book.description)
    meta(property="og:site_name", content="Lend a book")
  body